Repository pgjones/pgjones_dev: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-ci, backend-ci, docker-ci

frontend-ci:
  stage: lint-test
  image: node:16-alpine
  before_script:
  - cd frontend && npm install
  script:
  - npm run lint

backend-ci:
  stage: lint-test
  image: python:3.8-alpine
  cache:
    key: pgjones-poetry-cache
    paths:
    - backend/.venv
  before_script:
  - apk --update add alpine-sdk cargo gcc libffi-dev libxml2-dev libxslt-dev musl-dev openssl openssl-dev bsd-compat-headers
  - pip install poetry
  ...

docker-ci:
  stage: lint-test
  image: hadolint/hadolint:latest-debian
  script:
  - hadolint Dockerfile

Switch to tomllib
  backend/pdm.lock
  backend/pyproject.toml
  backend/src/backend/run.py
Due: backend-ci

Add a page on book recommendations
  frontend/src/lib/Book.svelte
  frontend/src/lib/Nav.svelte
  frontend/src/routes/books/+page.js
  frontend/src/routes/books/+page.svelte
  frontend/static/static/media/AlgorithmsI.png
  frontend/static/static/media/ArchitecturePatternsWithPython.jpg
  frontend/static/static/media/AtomicDesign.svg
  frontend/static/static/media/BuildingMicroservices.jpg
  frontend/static/static/media/CleanCode.jpg
  frontend/static/static/media/CrackingTheCodingInterview.png
  frontend/static/static/media/CultureCode.jpg
  frontend/static/static/media/EffectivePython.jpg
  frontend/static/static/media/EffectiveTypescript.jpg
  frontend/static/static/media/HighOutputManagement.jpg
  frontend/static/static/media/HowToWinFriends.jpg
  frontend/static/static/media/Inspired.jpg
  frontend/static/static/media/IntroductionToAlgorithms.jpg
  frontend/static/static/media/Peopleware.jpg
  frontend/static/static/media/PragmaticProgrammer.jpg
  frontend/static/static/media/ReleaseIt.jpg
  frontend/static/static/media/SQLPerformanceExplained.jpg
  frontend/static/static/media/SiteReliabilityEngineering.jpg
  frontend/static/static/media/ThePhoenixProject.jpg
  frontend/static/static/media/ToyotaWay.jpg
Due: frontend-ci

Fix the nav section for books
  frontend/src/lib/Nav.svelte
Due: frontend-ci

Change to the new Quart logo
  frontend/static/static/media/Quart.png
  frontend/static/static/media/Quart.webp
Due: frontend-ci

Initial Miguel response article
  backend/src/backend/templates/blogs/flask_ecosystem_compatibility.toml
Due: backend-ci

Some wording improvements
  backend/src/backend/templates/blogs/flask_ecosystem_compatibility.toml
Due: backend-ci

Minor tweaks and publish
  backend/src/backend/templates/blogs/flask_ecosystem_compatibility.toml
Due: backend-ci

Clarify using frozen rather than fixed
  backend/src/backend/templates/blogs/flask_ecosystem_compatibility.toml
Due: backend-ci

Add my latest tutorial
  frontend/src/routes/tutorials/+page.svelte
Due: frontend-ci

Fix pdm issues
  backend/pdm.lock
  backend/pyproject.toml
Due: backend-ci

Add my FlaskCon talk
  frontend/src/routes/talks/+page.svelte
Due: frontend-ci

Upgrade to Python3.12
  .github/workflows/ci.yml
  Dockerfile
  backend/pdm.lock
  backend/pyproject.toml
  backend/src/backend/blueprints/chat.py
  backend/src/backend/blueprints/serving.py
  backend/src/backend/lib/chat.py
  backend/src/backend/lib/json_quart.py
  backend/src/backend/run.py
Due: backend-ci, docker-ci

Fix the blog extraction
  backend/src/backend/run.py
Due: backend-ci

Add rel="me" to encourage mastodon verification
  frontend/src/lib/Nav.svelte
Due: frontend-ci

backend: Update dependencies
  backend/pdm.lock
Due: backend-ci

backend: Update Hypercorn dependency
  backend/pdm.lock
Due: backend-ci

backend: Update Hypercorn again
  backend/pdm.lock
Due: backend-ci

Update backend dependencies
  backend/pdm.lock
Due: backend-ci

Add a short blogpost on using asyncio's TaskGroup
  backend/src/backend/templates/blogs/how_to_task_group.toml
Due: backend-ci

Add a blog post on typing zod schemas for forms
  backend/src/backend/templates/blogs/how_to_type_zod_form_schemas.toml
Due: backend-ci

Support typescript code snippets
  frontend/src/routes/blog/[slug]/+page.svelte
Due: frontend-ci

Add my PyConUK talk
  frontend/src/routes/talks/+page.svelte
Due: frontend-ci

Initial draft for Amundsen's maxim
  backend/src/backend/templates/blogs/amundsens_maxim_in_practice.toml
Due: backend-ci

Path conditions:
  frontend-ci: any of: frontend/**/*, .gitlab-ci.yml
  backend-ci: any of: backend/**/*, .gitlab-ci.yml
  docker-ci: any of: Dockerfile, .gitlab-ci.yml
