Repository pgjones/pgjones_dev: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-ci, backend-ci, docker-ci

frontend-ci:
  stage: lint-test
  image: node:10-alpine
  cache:
    key: pgjones-node-cache
    paths:
    - frontend/node_modules/
  before_script:
  - apk --update add yarn
  - cd frontend && yarn install
  script:
  - yarn run format

backend-ci:
  stage: lint-test
  image: python:3.8-alpine
  cache:
    key: pgjones-poetry-cache
    paths:
    - backend/.venv
  before_script:
  - apk --update add alpine-sdk libffi-dev libxml2-dev libxslt-dev openssl openssl-dev bsd-compat-headers
  - pip install poetry
  - poetry config virtualenvs.in-project true
  ...

docker-ci:
  stage: lint-test
  image: hadolint/hadolint:latest-debian
  script:
  - hadolint Dockerfile

ci: Remove BUILDKIT as it just makes things slower
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

backend: Upgrade to Python 3.9 and update dependencies
  .gitlab-ci.yml
  Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
Due: frontend-ci, backend-ci, docker-ci

Try upgrading pip to fix broken build
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

Install pip for Python3 in an attempt to fix the build
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

Revert back to Python 3.8
  .gitlab-ci.yml
  Dockerfile
  backend/pyproject.toml
Due: frontend-ci, backend-ci, docker-ci

Set the correct alt-svc headers for the latest h3
  hypercorn.toml
Due: none

backend: Bump dependencies to get the latest aioquic
  backend/poetry.lock
Due: backend-ci

frontend: Allow for SQL snippets
  frontend/src/index.d.ts
  frontend/src/routes/blog/[slug].svelte
Due: frontend-ci

backend: Add a blog explaining how to use postgres with Quart
  backend/src/backend/templates/blogs/quart_postgres.toml
Due: backend-ci

backend: Update the Quart Postgres blog
  backend/src/backend/templates/blogs/quart_postgres.toml
Due: backend-ci

Add my upcoming talk
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add a linkt to the talk video
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add a link to my PyCon lightning talk slides
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add podcast appearences
  frontend/src/components/Talk.svelte
  frontend/src/routes/talks.svelte
Due: frontend-ci

backend: Upgrade dependencies
  backend/poetry.lock
  backend/src/backend/blueprints/serving.py
  backend/src/backend/lib/json_quart.py
Due: backend-ci

backend: Switch to serving the new frontend
  backend/src/backend/blueprints/serving.py
Due: backend-ci

frontend: Switch from sapper to sveltekit
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.npmrc
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.html
  frontend/src/client.js
  frontend/src/hooks.ts
  frontend/src/index.d.ts
  frontend/src/lib/Github.svelte
  frontend/src/lib/Gitlab.svelte
  frontend/src/lib/Medium.svelte
  frontend/src/lib/Nav.svelte
  frontend/src/lib/PostCard.svelte
  frontend/src/lib/Project.svelte
  frontend/src/lib/Stackoverflow.svelte
  frontend/src/lib/Talk.svelte
  frontend/src/lib/TutorialCard.svelte
  frontend/src/lib/Twitter.svelte
  frontend/src/routes/__layout.svelte
  frontend/src/routes/_error.svelte
  frontend/src/routes/_layout.svelte
  frontend/src/routes/about.svelte
  frontend/src/routes/bingo.svelte
  frontend/src/routes/blog/[slug].svelte
  frontend/src/routes/blog/index.svelte
  frontend/src/routes/index.svelte
  frontend/src/routes/info.svelte
  frontend/src/routes/talks.svelte
  frontend/src/routes/tutorials.svelte
  frontend/src/server.js
  frontend/src/template.html
  frontend/svelte.config.js
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Due: frontend-ci

Switch to sveltekit build
  Dockerfile
Due: docker-ci

Fix CI build
  .gitlab-ci.yml
  frontend/.eslintrc.cjs
  frontend/svelte.config.js
Due: frontend-ci, backend-ci, docker-ci

frontend: Upgrade dependencies
  frontend/package-lock.json
Due: frontend-ci

Remove the frontend CI cache
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

Restore the frontend CI cache
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

backend: Fix linting issues
  backend/src/backend/blueprints/blogs.py
  backend/src/backend/blueprints/chat.py
  backend/src/backend/blueprints/serving.py
  backend/src/backend/lib/json_quart.py
Due: backend-ci

Remove docker cache pull
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

Revert "Remove docker cache pull"
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

frontend: Hopefully fix remaining build issues
  frontend/package-lock.json
  frontend/src/hooks.ts
  frontend/svelte.config.js
Due: frontend-ci

frontend: Fix formatting
  frontend/src/hooks.ts
Due: frontend-ci

frontend: Add a link to my lightning talk's recording
  frontend/src/routes/talks.svelte
Due: frontend-ci

backend: Add COEP and COOP headers
  backend/src/backend/blueprints/serving.py
Due: backend-ci

frontend: Remove spurious console log
  frontend/src/lib/Nav.svelte
Due: frontend-ci

frontend: Update dependencies and prerender pages
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks.ts
  frontend/src/routes/index.svelte
  frontend/src/routes/info.svelte
  frontend/src/routes/talks.svelte
  frontend/src/routes/tutorials.svelte
Due: frontend-ci, docker-ci

Ignore Dockerlint warnings
  Dockerfile
Due: docker-ci

frontend: Flip css order
  frontend/src/app.html
Due: frontend-ci

backend: Partially revert df8df4138a935e5591142ee456bfc31d976893c3
  backend/src/backend/blueprints/serving.py
Due: backend-ci

Switch to main from master
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

Fix the certificate file names
  hypercorn.toml
Due: none

frontend: Add a navigation link to my book
  frontend/package-lock.json
  frontend/src/lib/Nav.svelte
Due: frontend-ci

Path conditions:
  frontend-ci: any of: frontend/**/*, .gitlab-ci.yml
  backend-ci: any of: backend/**/*, .gitlab-ci.yml
  docker-ci: any of: Dockerfile, .gitlab-ci.yml
