Repository pgjones/pgjones_dev: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-ci, backend-ci, docker-ci

.gitlab-ci.yml:

stages:
  - lint-test
  - push

frontend-ci:
  stage: lint-test

  image: node:10-alpine

  cache:
    key: pgjones-node-cache
    paths:
      - frontend/node_modules/

  before_script:
  - apk --update add yarn
  - cd frontend && yarn install

  script:
  - yarn run format

  only:
    changes:
      - frontend/**/*
      - .gitlab-ci.yml

backend-ci:
  stage: lint-test

  image: python:3.8-alpine

  cache:
    key: pgjones-poetry-cache
    paths:
      - backend/.venv

  before_script:
  - apk --update add alpine-sdk libffi-dev libxml2-dev libxslt-dev openssl openssl-dev bsd-compat-headers
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - cd backend && poetry install

  script:
  - poetry run format
  - poetry run lint

  only:
    changes:
      - backend/**/*
      - .gitlab-ci.yml

docker-ci:
  stage: lint-test

  image: hadolint/hadolint:latest-debian

  script:
    - hadolint Dockerfile

  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml

ecr-push:
  stage: push

  image: docker:latest

  services:
    - docker:19.03.5-dind

  before_script:
    - apk add --no-cache curl jq python3 py-pip
    - pip install docutils==0.14 awscli

  script:
    - $(aws ecr get-login --no-include-email --region eu-west-1)
    - docker pull $AWS_REPOSITORY_URL || true
    - docker build --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA --cache-from $AWS_REPOSITORY_URL -t $AWS_REPOSITORY_URL .
    - docker push $AWS_REPOSITORY_URL
  only:
    - master
  tags:
    - docker

backend: Upgrade to the latest packages
  backend/poetry.lock
  hypercorn.toml
Due: backend-ci

frontend: Support svelte syntax highlighting
  frontend/package.json
  frontend/src/routes/blog/[slug].svelte
  frontend/yarn.lock
Due: frontend-ci

blog: Add a post on the rewrite in Svelte
  backend/src/backend/templates/blogs/svelte_rewrite.toml
Due: backend-ci

Unpin docker dind version
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

backend: Update dependencies
  backend/poetry.lock
Due: backend-ci

frontend: Change height to min-height for buttons
  backend/src/backend/static/css/theme.css
Due: backend-ci

frontend: Add my FlaskCon talk
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add a link to my talk video
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add my EuroPython 2020 talk
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Fix syntax error
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add link to the EuroPy 2020 talk video
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Update dependencies
  frontend/yarn.lock
Due: frontend-ci

backend: Remove unsafe-inline usage
  backend/src/backend/blueprints/serving.py
Due: backend-ci

frontend: Re-run formatter
  frontend/src/components/Nav.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/Talk.svelte
  frontend/src/routes/blog/[slug].svelte
  frontend/src/routes/blog/index.svelte
  frontend/src/routes/index.svelte
  frontend/src/routes/talks.svelte
Due: frontend-ci

frontend: Add missing package
  frontend/package.json
  frontend/yarn.lock
Due: frontend-ci

backend: Fix cc8bd683741613fcd23895f5e55f630e68a29895
  backend/src/backend/blueprints/serving.py
Due: backend-ci

frontend: Add linting
  .gitlab-ci.yml
  frontend/package.json
  frontend/src/components/Nav.svelte
  frontend/src/index.d.ts
  frontend/src/routes/bingo.svelte
  frontend/src/routes/blog/[slug].svelte
  frontend/src/routes/blog/index.svelte
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend-ci, backend-ci, docker-ci

frontend: Fix formatting
  frontend/src/routes/blog/index.svelte
Due: frontend-ci

CI: Switch to docker buildkit
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

CI: Utilise caching for frontend stage of docker build
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

backend: Update to the latest isort/black
  backend/pyproject.toml
  backend/scripts.py
  backend/src/backend/lib/sentry.py
  backend/src/backend/run.py
Due: backend-ci

frontend: Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend-ci

Fix lighthouse issues
  backend/src/backend/static/css/theme.css
  frontend/src/components/Nav.svelte
  frontend/src/components/Project.svelte
Due: frontend-ci, backend-ci

backend: Upgrade dependencies
  backend/poetry.lock
  backend/src/backend/run.py
Due: backend-ci

Add a blog post on writing REST APIs
  backend/src/backend/templates/blogs/rest_api_evolution.toml
Due: backend-ci

Update the REST API Blog post
  backend/src/backend/templates/blogs/rest_api_evolution.toml
Due: backend-ci

Update the REST API post
  backend/src/backend/templates/blogs/rest_api_evolution.toml
Due: backend-ci

Minor fixes to REST API post
  backend/src/backend/templates/blogs/rest_api_evolution.toml
Due: backend-ci

Add Quart-Schema to the list of projects
  frontend/src/routes/index.svelte
Due: frontend-ci

Fix project link
  frontend/src/components/Project.svelte
Due: frontend-ci

fronted: Fix bingo nav active setting
  frontend/src/components/Nav.svelte
Due: frontend-ci

frontend: Add a new tutorials page
  frontend/src/components/Nav.svelte
  frontend/src/components/TutorialCard.svelte
  frontend/src/routes/tutorials.svelte
Due: frontend-ci

backend: Add youtube to the frame src
  backend/src/backend/blueprints/serving.py
Due: backend-ci

blog: Add a post on writing ASGI middleware
  backend/src/backend/templates/blogs/how_to_write_asgi_middleware.toml
Due: backend-ci

Add rust to the Docker image
  Dockerfile
Due: docker-ci

Minor summary update
  backend/src/backend/templates/blogs/how_to_write_asgi_middleware.toml
Due: backend-ci

Add rust to the CI setup
  .gitlab-ci.yml
Due: frontend-ci, backend-ci, docker-ci

Fix errors in the blog post
  backend/src/backend/templates/blogs/how_to_write_asgi_middleware.toml
Due: backend-ci

blog: Add a blog post on automating API testing
  backend/src/backend/templates/blogs/auto_api_testing.toml
Due: backend-ci
