Repository pgjones/pgjones_dev: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-ci, backend-ci, docker-ci

.gitlab-ci.yml:

stages:
  - lint-test
  - push

frontend-ci:
  stage: lint-test

  image: node:16-alpine

  before_script:
  - cd frontend && npm install

  script:
  - npm run lint

  only:
    changes:
      - frontend/**/*
      - .gitlab-ci.yml

backend-ci:
  stage: lint-test

  image: python:3.8-alpine

  cache:
    key: pgjones-poetry-cache
    paths:
      - backend/.venv

  before_script:
  - apk --update add alpine-sdk cargo gcc libffi-dev libxml2-dev libxslt-dev musl-dev openssl openssl-dev bsd-compat-headers
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - cd backend && poetry install

  script:
  - poetry run format
  - poetry run lint

  only:
    changes:
      - backend/**/*
      - .gitlab-ci.yml

docker-ci:
  stage: lint-test

  image: hadolint/hadolint:latest-debian

  script:
    - hadolint Dockerfile

  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml

ecr-push:
  stage: push

  image: docker:latest

  services:
    - docker:dind

  before_script:
    - apk add --no-cache curl jq python3 py-pip
    - pip install docutils==0.14 awscli

  script:
    - $(aws ecr get-login --no-include-email --region eu-west-1)

    - docker pull $AWS_REPOSITORY_URL:frontend || true
    - docker build
        --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA
        --cache-from $AWS_REPOSITORY_URL:frontend
        --target frontend
        -t $AWS_REPOSITORY_URL:frontend .
    - docker push $AWS_REPOSITORY_URL:frontend

    - docker pull $AWS_REPOSITORY_URL:latest || true
    - docker build
        --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA
        --cache-from $AWS_REPOSITORY_URL:latest
        -t $AWS_REPOSITORY_URL:latest .
    - docker push $AWS_REPOSITORY_URL:latest

  only:
    - master
  tags:
    - docker

Add cloudflare analytics
  frontend/src/app.html
Due: frontend-ci

backend: Upgrade to 3.10 and upgrade packages
  .gitlab-ci.yml
  Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/backend/run.py
Due: frontend-ci, backend-ci, docker-ci

backend: Switch to target 3.9 for black
  backend/pyproject.toml
Due: backend-ci

backend: Add types-toml for linting
  backend/poetry.lock
  backend/pyproject.toml
Due: backend-ci

Stop installing the dev dependencies in the production image
  Dockerfile
Due: docker-ci

Revert "Stop installing the dev dependencies in the production image"
  Dockerfile
Due: docker-ci

backend: Manually add a nonce to the svelte script
  backend/src/backend/blueprints/serving.py
Due: backend-ci

Revert "frontend: Flip css order"
  frontend/src/app.html
Due: frontend-ci

fronted: Update the dependencies
  frontend/package-lock.json
Due: frontend-ci

backend: Allow Cloudflare's analytics via the CSP
  backend/src/backend/blueprints/serving.py
Due: backend-ci

backend: Fix formatting
  backend/src/backend/blueprints/serving.py
Due: backend-ci

backend: Add a blog post on Quart Sentry integration
  backend/src/backend/templates/blogs/quart_sentry.toml
Due: backend-ci

backend: Add a short summary of the Quart-Auth extra
  backend/src/backend/templates/blogs/quart_sentry.toml
Due: backend-ci

Add a blog post on half closing sockets
  backend/src/backend/templates/blogs/half_closed_sockets.toml
Due: backend-ci

backend: Upgrade dependencies
  backend/poetry.lock
Due: backend-ci

backend: Upgrade dependencies to re-enable HTTP/3
  backend/poetry.lock
Due: backend-ci

Add a blog post on comparing Flask/Quart to FastAPI
  backend/src/backend/templates/blogs/fastapi_comparison.toml
Due: backend-ci

Minor clarifications and fixes
  backend/src/backend/templates/blogs/fastapi_comparison.toml
Due: backend-ci

Improve the wording of the comparison
  backend/src/backend/templates/blogs/fastapi_comparison.toml
Due: backend-ci

Improve the wording
  backend/src/backend/templates/blogs/fastapi_comparison.toml
Due: backend-ci

backend: Remove push promise usage
  backend/src/backend/blueprints/serving.py
  backend/src/backend/lib/json_quart.py
  backend/src/backend/run.py
Due: backend-ci

backend: Add a poetry run audit command
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts.py
Due: backend-ci

Add a short blog post on the new environment configuration
  backend/src/backend/templates/blogs/environment_config.toml
Due: backend-ci

backend: Add missing language marker
  backend/src/backend/templates/blogs/environment_config.toml
Due: backend-ci

frontend: Update dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks.ts
  frontend/src/lib/Nav.svelte
  frontend/src/routes/__layout.svelte
  frontend/src/routes/blog/[slug].svelte
  frontend/svelte.config.js
  frontend/tsconfig.json
Due: frontend-ci

Fix formatting issues with 4eb144d1709d4f903b8bfa6f9a5a73ceb1dd0fe4
  frontend/tsconfig.json
Due: frontend-ci

frontend: Add icon link text for screen readers only
  frontend/src/lib/Nav.svelte
Due: frontend-ci

Add first draft of router blog post
  backend/src/backend/templates/blogs/faster_routing.toml
Due: backend-ci

Improve the faster routing article
  backend/src/backend/templates/blogs/faster_routing.toml
Due: backend-ci

Allow for code blocks without a language
  frontend/src/routes/blog/[slug].svelte
Due: frontend-ci

frotnend: Fix formatting
  frontend/src/routes/blog/[slug].svelte
Due: frontend-ci

Further clarification of the faster routing article
  backend/src/backend/templates/blogs/faster_routing.toml
Due: backend-ci

Fix markdown formatting
  backend/src/backend/templates/blogs/faster_routing.toml
Due: backend-ci

Improve the faster router article
  backend/src/backend/templates/blogs/faster_routing.toml
Due: backend-ci
