Repository pgjones/pgjones_dev: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-ci, backend-ci, docker-ci

.gitlab-ci.yml:

stages:
  - lint-test
  - push

frontend-ci:
  stage: lint-test

  image: node:16-alpine

  before_script:
  - cd frontend && npm install

  script:
  - npm run lint

  only:
    changes:
      - frontend/**/*
      - .gitlab-ci.yml

backend-ci:
  stage: lint-test

  image: python:3.8-alpine

  cache:
    key: pgjones-poetry-cache
    paths:
      - backend/.venv

  before_script:
  - apk --update add alpine-sdk cargo gcc libffi-dev libxml2-dev libxslt-dev musl-dev openssl openssl-dev bsd-compat-headers
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - cd backend && poetry install

  script:
  - poetry run format
  - poetry run lint

  only:
    changes:
      - backend/**/*
      - .gitlab-ci.yml

docker-ci:
  stage: lint-test

  image: hadolint/hadolint:latest-debian

  script:
    - hadolint Dockerfile

  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml

ecr-push:
  stage: push

  image: docker:latest

  services:
    - docker:dind

  before_script:
    - apk add --no-cache curl jq python3 py-pip
    - pip install docutils==0.14 awscli

  script:
    - $(aws ecr get-login --no-include-email --region eu-west-1)

    - docker pull $AWS_REPOSITORY_URL:frontend || true
    - docker build
        --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA
        --cache-from $AWS_REPOSITORY_URL:frontend
        --target frontend
        -t $AWS_REPOSITORY_URL:frontend .
    - docker push $AWS_REPOSITORY_URL:frontend

    - docker pull $AWS_REPOSITORY_URL:latest || true
    - docker build
        --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA
        --cache-from $AWS_REPOSITORY_URL:latest
        -t $AWS_REPOSITORY_URL:latest .
    - docker push $AWS_REPOSITORY_URL:latest

  only:
    - master
  tags:
    - docker

Add a link to the Lobsters discussion
  backend/src/backend/templates/blogs/faster_routing.toml
Due: backend-ci

backend: Switch to my modern preferred pdm setup
  backend/pdm.lock
  backend/pyproject.toml
  backend/scripts.py
  backend/setup.cfg
  backend/src/backend/blueprints/blogs.py
  backend/src/backend/blueprints/serving.py
  backend/src/backend/lib/json_quart.py
  backend/src/backend/lib/sentry.py
  backend/src/backend/run.py
Due: backend-ci

frontend: Upgrade the dependences
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.html
  frontend/src/hooks.ts
  frontend/src/lib/highlightjs-svelte.js
  frontend/src/routes/blog/[slug].svelte
  frontend/src/routes/blog/index.svelte
  frontend/svelte.config.js
  frontend/vite.config.js
Due: frontend-ci

Add CI and CD for a github repository
  .github/workflows/audit.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Dockerfile
Due: frontend-ci, backend-ci, docker-ci

backend: Add a missing init file
  backend/src/backend/__init__.py
Due: backend-ci

frontend: Update my open source project list
  frontend/src/routes/index.svelte
Due: frontend-ci

backend: Correct the import paths
  backend/src/backend/lib/json_quart.py
  backend/src/backend/run.py
Due: backend-ci

Fix the dockerfile paths
  Dockerfile
Due: docker-ci

frontend: Fix the website source link
  frontend/src/routes/info.svelte
Due: frontend-ci

Move the static files to frontend
  Dockerfile
  frontend/src/app.html
  frontend/static/static/css/bootstrap.min.css
  frontend/static/static/css/solarized-light.css
  frontend/static/static/css/theme.css
  frontend/static/static/img/h11.png
  frontend/static/static/img/h2.png
  frontend/static/static/img/h2_prioritisation.png
  frontend/static/static/img/h3.png
  frontend/static/static/js/service-worker.js
  frontend/static/static/media/Hypercorn.png
  frontend/static/static/media/Hypercorn.webp
  frontend/static/static/media/MeSudbury.jpeg
  frontend/static/static/media/MeSudbury.webp
  frontend/static/static/media/Quart.png
  frontend/static/static/media/Quart.webp
  frontend/svelte.config.js
  frontend/vite.config.js
Due: frontend-ci, docker-ci

backend: Upgrade dependencies
  backend/pdm.lock
Due: backend-ci

frontend: Update sveltekit to the latest
  frontend/package-lock.json
  frontend/src/hooks.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/blog/+page.svelte
  frontend/src/routes/blog/+page.ts
  frontend/src/routes/blog/[slug]/+page.svelte
  frontend/src/routes/blog/[slug]/+page.ts
  frontend/src/routes/info/+page.js
  frontend/src/routes/info/+page.svelte
  frontend/src/routes/talks/+page.js
  frontend/src/routes/talks/+page.svelte
  frontend/src/routes/tozo/+page.js
  frontend/src/routes/tozo/+page.svelte
  frontend/src/routes/tutorials/+page.js
  frontend/src/routes/tutorials/+page.svelte
  frontend/static/static/Cover.jpg
  frontend/static/static/js/service-worker.js
  frontend/svelte.config.js
Due: frontend-ci

backend: Fix linting
  backend/src/backend/blueprints/serving.py
Due: backend-ci

frontend: Highlight the tozo nav link when viewing it
  frontend/src/lib/Nav.svelte
Due: frontend-ci

frontend: Ensure tozo page button links work
  frontend/src/routes/tozo/+page.svelte
Due: frontend-ci

frontend: Update the tutorial link
  frontend/src/routes/tutorials/+page.svelte
Due: frontend-ci

frontend: Add my upcoming London Python talk
  frontend/src/routes/talks/+page.svelte
Due: frontend-ci

frontend: Add a link to a recording of my routing talk
  frontend/src/routes/talks/+page.svelte
Due: frontend-ci

frontend: Add a link to my new talk on authentication with Quart
  frontend/src/routes/tutorials/+page.svelte
Due: frontend-ci

frontend: Add a link to my mastodon account
  frontend/src/lib/Mastodon.svelte
  frontend/src/lib/Nav.svelte
Due: frontend-ci

backend: Update dependencies
  backend/pdm.lock
Due: backend-ci

frontend: Update dependencies
  frontend/package-lock.json
  frontend/src/routes/+layout.js
  frontend/svelte.config.js
Due: frontend-ci

frontend: Update my info
  frontend/src/routes/info/+page.svelte
Due: frontend-ci

Add a modern flask blog
  backend/src/backend/blueprints/blogs.py
  backend/src/backend/run.py
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Woops correct the date
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Fix "Only all lowercase booleans allowed"
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Fix grammer issues
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Add extra tips so there are 13 for 13 years
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Improve the wording and grammer of the modern flask article
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Put the modern flask article live for tomorrow
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

Fix missing check
  backend/src/backend/templates/blogs/modern_flask.toml
Due: backend-ci

backend: Update the dependencies
  backend/pdm.lock
  backend/pyproject.toml
Due: backend-ci

Add a blog post on trusted publishing
  backend/src/backend/templates/blogs/trusted_publishing.toml
  frontend/src/routes/blog/[slug]/+page.svelte
  frontend/static/static/media/trusted-plublishing-2023.png
Due: frontend-ci, backend-ci

Add a blog post on upgrading bcrypt to Argon2
  backend/src/backend/templates/blogs/bcrypt_to_argon2.toml
Due: backend-ci

Improvements to the blog post
  backend/src/backend/templates/blogs/bcrypt_to_argon2.toml
Due: backend-ci

Make the post public
  backend/src/backend/templates/blogs/bcrypt_to_argon2.toml
Due: backend-ci

Upgrade dependencies
  Dockerfile
  backend/pdm.lock
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.html
Due: frontend-ci, backend-ci, docker-ci

Reinstall pdm depdencies with openssl flags
  backend/pdm.lock
Due: backend-ci

Bump the CI python version
  .github/workflows/ci.yml
Due: none
